@charset "UTF-8";
html {
  font-size: 16px;
}
@media (max-width: 375px) {
  html {
    font-size: 4.2666666667vw;
  }
}
@media screen and (min-width: 768px), print {
  html {
    font-size: 1.7777777778vw;
  }
}
@media (min-width: 900px) {
  html {
    font-size: 16px;
  }
}

body {
  font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
  color: #1B224C;
  background-color: #fff;
  letter-spacing: 0.05em;
  line-height: 1.68;
}

body.fixed {
  height: 100%;
  overflow: hidden;
}

main {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}

p {
  word-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
}

@media screen and (min-width: 768px), print {
  a[href^="tel:"] {
    pointer-events: none;
  }
}

a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

img {
  max-width: 100%;
  vertical-align: bottom;
}

.p-contact__text {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, .16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  padding: 0.4em 0.8em;
  width: 100%;
}

.p-contact__text:focus {
  border: 1px solid rgba(0, 0, 0, .32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

.p-contact__submit {
  -webkit-appearance: none;
  background-color: rgba(0, 0, 0, .32);
  background-image: none;
  border: none;
  border-radius: 0;
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-size: 1em;
  margin: 0 0 1em;
  padding: 0.6em 2em;
  text-decoration: none;
}

.p-contact__submit:hover,
.p-contact__submit:focus {
  outline: none;
}

.p-contact__submit::-moz-foucus-inner {
  border: none;
  padding: 0;
}

.p-contact__textarea {
  -moz-appearance: none;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(0, 0, 0, .16);
  border-radius: 0;
  color: inherit;
  font-family: inherit;
  font-size: 1em;
  height: 100px;
  padding: 0.4em 0.8em;
  width: 100%;
  resize: vertical;
}

.p-contact__textarea:focus {
  border: 1px solid rgba(0, 0, 0, .32);
  -webkit-box-shadow: none;
          box-shadow: none;
  outline: none;
}

/*! destyle.css v3.0.2 | MIT License | https://github.com/nicolas-cusan/destyle.css */
/* Reset box-model and set borders */
/* ============================================ */
*,
::before,
::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-style: solid;
  border-width: 0;
}

/* Document */
/* ============================================ */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 * 3. Remove gray overlay on links for iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -webkit-tap-highlight-color: transparent;
  /* 3*/
}

/* Sections */
/* ============================================ */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/* Vertical rhythm */
/* ============================================ */
p,
table,
blockquote,
address,
pre,
iframe,
form,
figure,
dl {
  margin: 0;
}

/* Headings */
/* ============================================ */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
  margin: 0;
}

/* Lists (enumeration) */
/* ============================================ */
ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* Lists (definition) */
/* ============================================ */
dt {
  font-weight: bold;
}

dd {
  margin-left: 0;
}

/* Grouping content */
/* ============================================ */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
  border-top-width: 1px;
  margin: 0;
  clear: both;
  color: inherit;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

address {
  font-style: inherit;
}

/* Text-level semantics */
/* ============================================ */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
  text-decoration: none;
  color: inherit;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: inherit;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Replaced content */
/* ============================================ */
/**
 * Prevent vertical alignment issues.
 */
svg,
img,
embed,
object,
iframe {
  vertical-align: bottom;
}

/* Forms */
/* ============================================ */
/**
 * Reset form fields to make them styleable.
 * 1. Make form elements stylable across systems iOS especially.
 * 2. Inherit text-transform from parent.
 */
button,
input,
optgroup,
select,
textarea {
  -webkit-appearance: none;
  /* 1 */
  -moz-appearance: none;
       appearance: none;
  vertical-align: middle;
  color: inherit;
  font: inherit;
  background: transparent;
  padding: 0;
  margin: 0;
  border-radius: 0;
  text-align: inherit;
  text-transform: inherit;
  /* 2 */
}

/**
 * Reset radio and checkbox appearance to preserve their look in iOS.
 */
[type=checkbox] {
  -webkit-appearance: checkbox;
  -moz-appearance: checkbox;
       appearance: checkbox;
}

[type=radio] {
  -webkit-appearance: radio;
  -moz-appearance: radio;
       appearance: radio;
}

/**
 * Correct cursors for clickable elements.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  cursor: pointer;
}

button:disabled,
[type=button]:disabled,
[type=reset]:disabled,
[type=submit]:disabled {
  cursor: default;
}

/**
 * Improve outlines for Firefox and unify style with input elements & buttons.
 */
:-moz-focusring {
  outline: auto;
}

select:disabled {
  opacity: inherit;
}

/**
 * Remove padding
 */
option {
  padding: 0;
}

/**
 * Reset to invisible
 */
fieldset {
  margin: 0;
  padding: 0;
  min-width: 0;
}

legend {
  padding: 0;
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the outline style in Safari.
 */
[type=search] {
  outline-offset: -2px;
  /* 1 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Fix font inheritance.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/**
 * Clickable labels
 */
label[for] {
  cursor: pointer;
}

/* Interactive */
/* ============================================ */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/*
 * Remove outline for editable content.
 */
[contenteditable]:focus {
  outline: auto;
}

/* Tables */
/* ============================================ */
/**
1. Correct table border color inheritance in all Chrome and Safari.
*/
table {
  border-color: inherit;
  /* 1 */
  border-collapse: collapse;
}

caption {
  text-align: left;
}

td,
th {
  vertical-align: top;
  padding: 0;
}

th {
  text-align: left;
  font-weight: bold;
}

.l-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100vw;
  min-height: 100vh;
}

.l-flow {
  margin-top: 57px;
  margin-top: 3.5625rem;
}

.l-footer {
  margin-top: 55px;
  margin-top: 3.4375rem;
}

.l-header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  height: 5rem;
  z-index: 100;
}

.l-inner {
  width: 100%;
  padding-right: 20px;
  padding-left: 20px;
  margin-right: auto;
  margin-left: auto;
}
@media screen and (min-width: 768px), print {
  .l-inner {
    max-width: 950px;
    padding-right: 25px;
    padding-left: 25px;
  }
}

.l-tel-contact {
  margin-top: 55px;
  margin-top: 3.4375rem;
}

.l-top-cta {
  margin-top: 120px;
  margin-top: 7.5rem;
}

.c-button-wrapper {
  line-height: 1;
}

.c-button {
  display: inline-block;
  width: 142px;
  width: 8.875rem;
  padding: 17px 0;
  padding: 1.0625rem 0;
  text-align: center;
  color: #fff;
  background-color: #F5A623;
  border-radius: 5px;
  line-height: 1;
}

.c-button--blue {
  background-color: #1B224C;
}

.c-button--large {
  width: 260px;
  width: 16.25rem;
  padding: 22px 0;
  padding: 1.375rem 0;
  border-radius: 31px;
}

.c-button--wide {
  width: 280px;
  width: 17.5rem;
  border-radius: 25px;
}

.c-button::before {
  background-color: #f7be1f;
}

.c-button--blue::before {
  background-color: #343c95;
}

.c-hamburger {
  position: relative;
  width: 50px;
  width: 3.125rem;
  height: 50px;
  height: 3.125rem;
  outline: none;
  border-radius: 50%;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.c-hamburger__line {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 35px;
  width: 2.1875rem;
  height: 2px;
  height: 0.125rem;
  background-color: #1B224C;
  -webkit-transition: inherit;
  transition: inherit;
}

.c-hamburger__line::before,
.c-hamburger__line::after {
  content: "";
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: inherit;
  -webkit-transition: inherit;
  transition: inherit;
}

.c-hamburger__line::before {
  top: -10px;
  top: -0.625rem;
}

.c-hamburger__line::after {
  top: 10px;
  top: 0.625rem;
}

.c-hamburger[aria-expanded=true] .c-hamburger__line {
  background-color: transparent;
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::before,
.c-hamburger[aria-expanded=true] .c-hamburger__line::after {
  top: 0;
  background-color: #1B224C;
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.c-hamburger[aria-expanded=true] .c-hamburger__line::after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.c-link {
  color: #fff;
}

.c-link:hover {
  text-decoration: underline;
}

.c-menu-link {
  display: block;
  position: relative;
}

.c-menu-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -5px;
  width: 0;
  height: 2px;
  background-color: #F5A623;
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

.c-menu-link:hover {
  -webkit-transition: width 0.3s;
  transition: width 0.3s;
}

@media screen and (min-width: 768px), print {
  .c-menu-link:hover::after {
    width: 100%;
  }
}

.c-menu-link--header::after {
  bottom: 20px;
}

.c-section-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px), print {
  .c-section-title {
    font-size: 2.25rem;
  }
}

@media screen and (min-width: 768px), print {
  .c-section-title--small {
    font-size: 2rem;
  }
}

.c-section-title--white {
  color: #fff;
}

.c-slide-anime {
  display: inline-block;
  position: relative;
  overflow: hidden;
}

.c-slide-anime::before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}

.c-slide-anime:hover::before {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.c-slide-anime span {
  position: relative;
  z-index: 1;
}

.p-copy {
  background-color: #1B224C;
}
.p-copy span {
  display: inline-block;
}

.p-copy__inner {
  text-align: center;
  padding-top: 63px;
  padding-top: 3.9375rem;
  padding-bottom: 54px;
  padding-bottom: 3.375rem;
}

.p-copy__worries {
  margin-top: 65px;
  margin-top: 4.0625rem;
  color: #fff;
}
@media screen and (min-width: 768px), print {
  .p-copy__worries {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.p-copy__worry {
  margin-top: 15px;
  margin-top: 0.9375rem;
  line-height: 2.16;
}
.p-copy__worry br {
  display: none;
}
@media screen and (min-width: 768px), print {
  .p-copy__worry br {
    display: block;
  }
}

.p-copy__worry:nth-child(2) {
  margin-left: 0;
}
@media screen and (min-width: 768px), print {
  .p-copy__worry:nth-child(2) {
    margin-left: 3.5625rem;
  }
}

.p-copy__worry:nth-child(3) {
  margin-left: 0;
}
@media screen and (min-width: 768px), print {
  .p-copy__worry:nth-child(3) {
    margin-left: 1.875rem;
  }
}

.p-copy__box {
  margin-top: 83px;
  margin-top: 5.1875rem;
  padding: 11px 16px;
  padding: 0.6875rem 1rem;
  background-color: #fff;
}

.p-copy__box-inner {
  padding: 20px;
  padding: 1.25rem;
  border: 5px solid #1B224C;
}

.p-copy__box-title {
  font-size: 24px;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.38;
}
@media screen and (min-width: 768px), print {
  .p-copy__box-title {
    font-size: 2.25rem;
  }
}
.p-copy__box-title span {
  display: inline;
  line-height: 1;
  background: -webkit-gradient(linear, left top, left bottom, color-stop(70%, transparent), color-stop(70%, #F5A623));
  background: linear-gradient(transparent 70%, #F5A623 70%);
}

.p-copy__box-text {
  font-size: 18px;
  font-size: 1.125rem;
  line-height: 1.72;
  margin-top: 25px;
  margin-top: 1.5625rem;
}

.p-cta {
  background-image: url(../images/common/cta.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.p-cta__inner {
  text-align: center;
  padding: 53px 0 27px;
  padding: 3.3125rem 0 1.6875rem;
}

.p-cta__button {
  margin-top: 16px;
  margin-top: 1rem;
}

.p-cta__link {
  margin-top: 22px;
  margin-top: 1.375rem;
}

.p-drawer {
  visibility: hidden;
  position: fixed;
  left: 0;
  opacity: 0;
  width: 100%;
  max-width: 100%;
  height: 100vh;
  background-color: #fff;
  -webkit-transform: translateX(0);
          transform: translateX(0);
  z-index: 10;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}

.p-drawer[data-click=true] {
  visibility: visible;
  opacity: 1;
}

.p-drawer__items {
  overflow: scroll;
  width: 100%;
  height: 100%;
  padding: 60px 20px 150px;
  padding: 3.75rem 20px 9.375rem;
}

.p-drawer__item {
  text-align: center;
}

.p-drawer__item + .p-drawer__item {
  margin-top: 30px;
  margin-top: 1.875rem;
}

.p-drawer__item--button {
  text-align: center;
}

.p-drawer__link {
  display: block;
}

.p-flow__items {
  margin-top: 53px;
  margin-top: 3.3125rem;
}

.p-flow__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8F8F8;
}

.p-flow__item + .p-flow__item {
  margin-top: 8px;
  margin-top: 0.5rem;
}

.p-flow__number {
  display: block;
  width: 64px;
  width: 4rem;
  height: 100%;
  padding: 65px 0;
  padding: 4.0625rem 0;
  text-align: center;
  font-weight: 600;
  color: #fff;
  background-color: #F5A623;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (min-width: 768px), print {
  .p-flow__number {
    padding: 1.1875rem 0;
  }
}

.p-flow__contents {
  width: 100%;
  padding: 15px 21px;
  padding: 0.9375rem 1.3125rem;
}
@media screen and (min-width: 768px), print {
  .p-flow__contents {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-flow__title {
  font-size: 18px;
  font-size: 1.125rem;
  font-weight: 600;
  display: inline-block;
}
@media screen and (min-width: 768px), print {
  .p-flow__title {
    position: relative;
    width: 23%;
  }
}

.p-flow__title::after {
  position: absolute;
  content: "";
  border-right: 1px solid #c3c3c3;
  height: 29px;
  height: 1.8125rem;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

.p-flow__text {
  margin-top: 10px;
  margin-top: 0.625rem;
}
@media screen and (min-width: 768px), print {
  .p-flow__text {
    margin-top: 0;
    margin-left: 3.3125rem;
    position: relative;
  }
}

.p-footer__body {
  color: #fff;
  background-color: #1B224C;
  padding: 30px 0;
  padding: 1.875rem 0;
}
@media screen and (min-width: 768px), print {
  .p-footer__body {
    padding: 2.1875rem 0 4.3125rem;
  }
}

@media screen and (min-width: 768px), print {
  .p-footer__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

.p-footer__items {
  font-weight: 600;
  text-align: center;
}
@media screen and (min-width: 768px), print {
  .p-footer__items {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.p-footer__item {
  position: relative;
}

.p-footer__item + .p-footer__item {
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px), print {
  .p-footer__item + .p-footer__item {
    margin-top: 0;
    margin-left: 3rem;
  }
}

@media screen and (min-width: 768px), print {
  .p-footer__item:not(:last-child)::after {
    position: absolute;
    content: "";
    width: 1px;
    height: 23px;
    background: #fff;
    top: 1px;
    right: -23px;
  }
}

.p-footer__contact {
  margin-top: 50px;
  margin-top: 3.125rem;
  text-align: center;
}
@media screen and (min-width: 768px), print {
  .p-footer__contact {
    margin-top: 0;
    margin-left: auto;
    text-align: right;
  }
}

.p-footer__logo {
  width: 180px;
  width: 11.25rem;
  background-color: #fff;
  margin: 20px auto 0;
  margin: 1.25rem auto 0;
}
@media screen and (min-width: 768px), print {
  .p-footer__logo {
    width: 12.3125rem;
    margin-top: 0;
  }
}
.p-footer__logo img {
  padding: 12px 17px;
  padding: 0.75rem 1.0625rem;
}

.p-footer__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 20px;
  margin-top: 1.25rem;
}
@media screen and (min-width: 768px), print {
  .p-footer__tel {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: flex-end;
  }
}
.p-footer__tel img {
  width: 10px;
  width: 0.625rem;
  height: 15px;
  height: 0.9375rem;
}

.p-footer__number {
  margin-left: 7px;
  margin-left: 0.4375rem;
}

.p-footer__time {
  font-size: 12px;
  font-size: 0.75rem;
  margin-top: 10px;
  margin-top: 0.625rem;
}

.p-footer__bottom {
  text-align: right;
}

.p-footer__copyright {
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 600;
  line-height: 1;
  padding: 13px 0;
  padding: 0.8125rem 0;
}

.p-header {
  background-color: #fff;
}

.p-header__inner {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 25px;
}

.p-header__menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.p-header__logo {
  width: 136px;
  width: 8.5rem;
}
.p-header__logo img {
  image-rendering: -webkit-optimize-contrast;
}

.p-header__nav {
  display: none;
}
@media screen and (min-width: 1024px), print {
  .p-header__nav {
    display: block;
    height: inherit;
  }
}

.p-header__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: inherit;
}

.p-header__item {
  font-weight: 600;
  margin-left: 28px;
  margin-left: 1.75rem;
  height: inherit;
}
.p-header__item a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: inherit;
}

.p-header__info {
  display: none;
}
@media screen and (min-width: 768px), print {
  .p-header__info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    margin-left: auto;
  }
}

.p-header__tel-info {
  margin-left: 10px;
  margin-left: 0.625rem;
  line-height: 1;
}

.p-header__time {
  font-size: 12px;
  font-size: 0.75rem;
}

.p-header__tel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 10px;
  margin-top: 0.625rem;
}
.p-header__tel img {
  width: 10px;
  width: 0.625rem;
  height: 15px;
  height: 0.9375rem;
}

.p-header__number {
  font-weight: 600;
  margin-left: 5px;
  margin-left: 0.3125rem;
}

.p-header__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-left: 14px;
  margin-left: 0.875rem;
}

.p-header__contact {
  margin-left: 10px;
  margin-left: 0.625rem;
}

.p-header__hamburger {
  margin-left: auto;
  z-index: 50;
}
@media screen and (min-width: 768px), print {
  .p-header__hamburger {
    display: none;
  }
}

.p-mv {
  background-image: url(../images/top/mv.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.p-mv__inner {
  text-align: center;
  color: #fff;
  padding-top: 116px;
  padding-top: 7.25rem;
  padding-bottom: 86px;
  padding-bottom: 5.375rem;
}

.p-mv__title {
  font-size: 26px;
  font-size: 1.625rem;
  font-weight: 600;
}
@media screen and (min-width: 768px), print {
  .p-mv__title {
    font-size: 3rem;
  }
}

.p-mv__text {
  font-size: 18px;
  font-size: 1.125rem;
  margin-top: 25px;
  margin-top: 1.5625rem;
  line-height: 1.72;
}

.p-mv__button {
  margin-top: 51px;
  margin-top: 3.1875rem;
}

.p-mv__link {
  margin-top: 22px;
  margin-top: 1.375rem;
}

.p-tel-contact__inner {
  text-align: center;
  line-height: 1;
}
@media screen and (min-width: 768px), print {
  .p-tel-contact__inner {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
}

.p-tel-contact__inner > *:not(:first-child) {
  margin-top: 15px;
  margin-top: 0.9375rem;
}
@media screen and (min-width: 768px), print {
  .p-tel-contact__inner > *:not(:first-child) {
    margin-top: 0;
    margin-left: 1.25rem;
  }
}

.tel-contact__text {
  font-weight: 600;
}
@media screen and (min-width: 768px), print {
  .tel-contact__text {
    margin-left: 2.1875rem;
  }
}

.tel-contact__number {
  font-size: 36px;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 0.8;
}

.u-br-pc {
  display: none;
}
@media screen and (min-width: 768px), print {
  .u-br-pc {
    display: block;
  }
}

.u-br-sp {
  display: block;
}
@media screen and (min-width: 768px), print {
  .u-br-sp {
    display: none;
  }
}

.u-desktop {
  display: none;
}
@media screen and (min-width: 768px), print {
  .u-desktop {
    display: block;
  }
}

@media screen and (min-width: 768px), print {
  .u-mobile {
    display: none;
  }
}

.u-visually-hidden {
  position: absolute;
  white-space: nowrap;
  width: 1px;
  height: 1px;
  overflow: hidden;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  -webkit-clip-path: inset(50%);
          clip-path: inset(50%);
}
/*# sourceMappingURL=styles.css.map */
