@use "setting" as *;

.c-section-title {
  font-size: rem(24);
  font-weight: $bold;
  text-align: center;

  span {
    display: inline-block;
  }

  @include mq("md") {
    font-size: rem(36);
  }
}

.c-section-title--small {
  @include mq("md") {
    font-size: rem(32);
  }
}

.c-section-title--white {
  color: $color-base-font-second;
}
