@use "setting" as *;

.c-underline {
  position: relative;
}

.c-underline::after {
  background-color: $color-text-underline;
  bottom: -5px;
  content: "";
  height: 2px;
  left: 0;
  position: absolute;
  transition: width $transition;
  width: 0;
}

.c-underline:hover {
  transition: width $transition;
}

.c-underline:hover::after {
  width: 100%;
}
