// color
$blue: #1B224C;
$blue-lite: #343c95;
$white: #fff;
$orange: #F5A623;
$orange-lite: #f7be1f;
$grey: #F8F8F8;
$grey-lite: #c3c3c3;

// base
$color-base-font: $blue;
$color-base-font-second: $white;
$color-base-background: $white;
$color-base-background-second: $blue;

// button
$color-button-background: $orange;
$color-button-background--blue: $blue;
$color-button-background-hover: $orange-lite;
$color-button-background--blue-hover: $blue-lite;

// text
$color-text-underline: $orange;
$color-text-merker: $orange;

// flow
$color-flow-number: $orange;
$color-flow-background: $grey;
$color-flow-line: $grey-lite;

// question
$color-question-answer-background: $grey;
$color-question-border: $blue;

// feature
$color-feature-label: $orange;
