// color
$black: #333;
$white: #fff;
$green: #83BD75;
$green-dark: #4E944F;
$green-lite: #B4E197;
$grey: #e7e2e2;


// base
$color-base-font: $black;
$color-base-font-second: $white;
$color-base-background: $white;
