@use "setting" as *;

.p-breadcrumb {
  background-color: $color-breadcrumb-background;
}

.p-breadcrumb__inner {
  padding-top: rem(19);
  padding-bottom: rem(19);
  font-size: rem(12);
  line-height: 1;
}