@use "setting" as *;

.p-flow__items {
  margin-top: rem(40);
}

.p-flow__item {
  display: flex;
  align-items: center;
  background-color: $color-flow-background;
}

.p-flow__item + .p-flow__item {
  margin-top: rem(8);
}

.p-flow__number {
  display: flex;
  align-items: center;
  justify-content: center;
  width: rem(64);
  height: 100%;
  padding: rem(65) 0;
  font-weight: $bold;
  color: $color-base-font-second;
  background-color: $color-flow-number;
  flex-shrink: 0;
  @include mq("md") {
    padding: 0;
    height: rem(64);
  }
}

.p-flow__contents {
  width: 100%;
  padding: rem(15) rem(21);
  @include mq("md") {
    display: flex;
    align-items: center;
  }
}

.p-flow__title {
  font-size: rem(18);
  font-weight: $bold;
  display: inline-block;
  @include mq("md") {
    position: relative;
    width: 23%;
  }
}

.p-flow__title::after {
  @include mq("md") {
    position: absolute;
    content: "";
    border-right: 1px solid $color-flow-line;
    height: rem(29);
    right: rem(-12);
    top: 50%;
    transform: translateY(-50%);
  }
}

.p-flow__text {
  margin-top: rem(10);
  @include mq("md") {
    margin-top: 0;
    margin-left: rem(66);
    position: relative;
  }
}


