@use "setting" as *;

.p-fee-system__box {
  margin-top: rem(49);
  text-align: center;
  @include mq("md") {
    display: flex;
    align-items: center;
    padding: 0 rem(116);
  }
}

.p-fee-system__label {
  display: inline-block;
  font-size: rem(22);
  font-weight: $bold;
  text-align: center;
  color: $color-base-font-second;
  background-color: $color-plan-label;
  width: rem(280);
  padding: rem(27) 0;
}

.p-fee-system__label:last-of-type {
  margin-top: rem(50);
  @include mq("md") {
    margin-top: 0;
  }
}

.p-fee-system__plus {
  display: block;
  position: relative;
  width: rem(26);
  margin: rem(50) auto 0;
  border-top: 2px solid $color-base-font;
  @include mq("md") {
    margin-top: 0;
  }
}

.p-fee-system__plus::before {
  position: absolute;
  content: "";
  border-right: 2px solid $color-base-font;
  height: rem(26);
  top: rem(-13);
  left: 50%;
  transform: translateX(-50%);
}

.p-fee-system__text {
  margin-top: rem(57);
  @include mq("md") {
    margin-top: rem(41);
  }
}