@use "setting" as *;

.p-header {
  background-color: $color-base-background;
}

.p-header__inner {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 0 rem(10) 0 rem(14);
}

.p-header__menu {
  display: flex;
  align-items: center;
  height: inherit;
}

.p-header__logo {
  width: rem(136);
  img {
    image-rendering: -webkit-optimize-contrast;
  }
}

.p-header__nav {
  display: none;
  @include mq("lg") {
    display: block;
    height: inherit;
  }
}

.p-header__items {
  display: flex;
  height: inherit;
  margin-left: rem(28);
}

.p-header__item {
  font-weight: $bold;
  height: inherit;
  a {
    display: flex;
    align-items: center;
    height: inherit;
  }
}

.p-header__item:not(:first-child) {
  margin-left: rem(28);
}

.p-header__info {
  display: none;
  @include mq("md") {
    display: flex;
    align-items: flex-end;
    margin-left: auto;
  }
}

.p-header__tel-info {
  line-height: 1;
}

.p-header__time {
  font-size: rem(12);
  text-align: right;
}

.p-header__tel {
  display: flex;
  align-items: center;
  margin-top: rem(10);
  img {
    width: rem(10);
    height: rem(15);
  }
}

.p-header__number {
  font-weight: $bold;
  margin-left: rem(5);
}

.p-header__buttons {
  display: flex;
  margin-left: rem(19);
}

.p-header__contact {
  margin-left: rem(10);
}

.p-header__hamburger {
  margin-left: auto;
  z-index: map-get($layer, "header-menu");
  @include mq("md") {
    margin-left: rem(25);
  }
  @include mq("lg") {
    display: none;
  }
}
