@use "setting" as *;

.p-media-blog__head {
  // width: 100%;
  @include mq("sm") {
    flex: 0 0 26.6666%;
  }
}

.p-media-blog__img::before {
  padding-top: 74.58333%;
}


.p-media-blog__body {
  @include mq("sm") {
    padding-left: rem(50);
  }
}

.p-media-blog__title {
  font-size: rem(18);
  margin-top: rem(12);
  @include mq("md") {
    font-size: rem(26);
  }
}

.p-media-blog__text {
  margin-top: rem(10);
  @include mq("md") {
    margin-top: rem(20);
  }
}
