@use "setting" as *;

.p-media-top__head {
  flex: 0 0 34.8837%;
}

.p-media-top__img::before {
  padding-top: 73.3333%;
}

.p-media-top__body {
  padding-left: rem(20);
}

.p-media-top__body > *:last-child {
  margin-top: auto;
}

