@use "setting" as *;

.p-page-header {
  width: 100%;
  height: rem(221);
  display: grid;
  place-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.p-page-header[data-page=plan] {
  background-image: url(../images/plan/plan.jpg);
}

.p-page-header[data-page=blog] {
  background-image: url(../images/blog/blog.jpg);
}

.p-page-header[data-page=news] {
  background-image: url(../images/news/news.jpg);
}

.p-page-header[data-page=contact] {
  background-image: url(../images/common/cta.png);
}

.p-page-header__title {
  font-size: rem(32);
  font-weight: $bold;
  color: $color-base-font-second;
  text-align: center;
}
