@use "setting" as *;

.p-post__inner {
  @include mq("md") {
    display: flex;
  }
}

.p-post__items {
  margin-top: rem(25);
}

.p-post__item + .p-post__item {
  margin-top: rem(30);
}

.p-post__single {
  @include mq("md") {
    width: 47.7777%;
  }
}

.p-post__news {
  margin-top: rem(90);
  @include mq("md") {
    margin-top: 0;
    margin-left: auto;
    width: 44.7777%;
  }
}

.p-post__news-items {
  margin-top: rem(17);
}

.p-post__news-item + .p-post__news-item {
  margin-top: rem(47);
}

.p-post__message {
  margin-top: rem(30);
}